@charset "utf-8";
@import "compass";

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$basecolor: #fffff0;
$blue: #7db9de;
$red: #e16b8c;
$gray:#4d260b;


@mixin fontsize($size: 24, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

@function calcWidth($spacePx, $columnNum) {
    $spacePx:($columnNum - 1) * $spacePx;
    @return calc((100% - #{$spacePx}px) / #{$columnNum});
}

html {
    font-size: 62.5%;
}

p {
    margin: 0;
    padding: 0;
    color: $gray;
    @include fontsize(12);
}

h1 {
    margin: 0;
    padding-bottom: 10px;
    color: $gray;
    font-weight: bold;
    letter-spacing: 4px;
    @include fontsize(30);
}


h2 {
    margin: 0;
    padding: 10px 0 10px;
    color: $red;
    font-weight: bold;
    text-align: center;
    @include fontsize(24);
}

h3 {
    margin: 0;
    padding: 10px 0 10px;
    color: $gray;
    font-weight: bold;
    @include fontsize(18);
}

a {
    text-decoration: none;
    color: $gray;
}

body {
    background-color: $blue;
    padding: 20px 20px 0;
    .innerframe {
        margin: auto;
        max-width: 1000px;
        background-color: $basecolor;
        padding-top: 10px;
    }
}

/* Header contents
---------------------------------------------*/
header {
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 10px;

    @media (min-width: 768px) {
        .pc_navi {
            .main_navi {
                margin-bottom: 0;
                text-align: right;
                li {
                    display: inline-block;
                    list-style-type: none;
                    font-size: 14px;
                    margin: 0 8px 0;
                }
            }
            .sns_navi {
                margin-bottom: 0;
                text-align: right;
                li {
                    display: inline-block;
                    list-style-type: none;
                    margin-right: 8px;
                    color: $gray;
                    font-size: 3rem;
                }
            }
        }
        .sp_navi {
            display: none;
        }
    } // /@media (min-width: 768px)

    @media (max-width: 767px) {
        .pc_navi {
            display: none;
        }
        .sp_navi {
            text-align: center;
            .sns_navi {
                margin-bottom: 0;
                li {
                    display: inline-block;
                    list-style-type: none;
                    margin-right: 8px;
                    color: $gray;
                    font-size: 3rem;
                }
            }
            .main_navi_hang {
                display: flex;
                justify-content: center;
                width: 100%;
                position: fixed;
                left: 0;
                bottom: 2px;
                z-index: 2000;
                background-color: rgba(255,255,255,0.8);
                li {
                    flex: 1;
                    margin: 0;
                    list-style-type: none;
                    a {
                        display: block;
                        margin: 10px;
                        font-size: 1rem;
                        img {
                            display: block;
                            margin: auto;
                            max-width: 30px;
                        }
                    }
                }
            }
        }
    } // /@media (max-width: 767px)
} // /header

/* Page contents
---------------------------------------------*/
#page_contents {

/* Cover_area */
#cover_area {
    margin-bottom: 20px;
    position: relative;
    #cover {
        img { width: 100%; }
        .owl-dots {
            text-align: left;
            margin-top: 0;
            .owl-dot {
                span {
                    height: 4px;
                    width: 40px;
                    margin-left: 0;
                }
                &.active span {
                    background-color:$red;
                }
            }
        }
    }
    #cover_catch {
        margin: 0;
        padding: 0;
        position: absolute;
        z-index:90;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);

        width: 100%;
        background-color: rgba(255,255,255,0.5);
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }        
} //  /#cover_area

/* Main contents */
main {
    @media (max-width: 767px) {
        width: 100%;
    }

    .item_container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        .item_box {
            padding: 10px;
            text-align: center;
        }
    } // /.item_container

    #newworks {
        margin: 20px 0;
        .item_container {
            margin: 10px 0;
            .item_box {
                padding: 0;
                width: calcWidth(10,3);
            }
            @media (max-width: 767px) {
                flex-wrap: wrap;
                .item_box {
                    width: calcWidth(10,2);
                }
            }
        }
        a {
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: right;
        }
    } // /#newworks

    #newinfo {
        margin: 20px 0;
        @include fontsize(12);
        ul {
            margin: 20px 0;
            li {
                list-style-type: none;
                .date {
                    width: 100px;
                    margin-right: 10px;
                    display: inline-block;
                    vertical-align: top;
                    text-align: right;
                }
                .label-info {
                    width: 100px;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 10px;
                    background-color: $blue;
                    text-align: center;
                    color: $basecolor;
                }
                a {
                    width: 60%;
                    padding-top: 0;
                    display: inline-block;
                    vertical-align: top;
                    text-align: left;
                }
            }
        }
        @media (max-width: 767px) {
            @include fontsize(20);
            ul {
                li {
                    .date {
                        font-size: 1.8rem;
                        text-align: left;
                    }
                    .label-info {
                        width: 150px;
                        margin-bottom: 10px;
                    }
                    a { 
                        width: 100%;
                        margin-bottom: 10px;
                        font-size: 1.8rem;
                    }
                }
            }
        }
        .btn {
            text-align: center;
            .top-btn {
                width: 200px;
                margin: 10px;
                padding: 6px;
                display: inline-block;
                text-align: center;
                background-color: $basecolor;
                color: $gray;
                border: 1.5px solid $blue;
                border-radius: 5px;
                &:hover {
                    text-decoration: none;
                    background-color: lighten($blue, 10%);
                }
            }
        }
    } // /#newinfo

    #monthlybest {
        margin: 20px 0 20px 0;
        padding: 10px 0 10px 0;
        background-color: $red;
        border-radius: 5px;
        width: 100%;
        h2 {
            color: $basecolor;
        }
        .item_container {
            padding: 0 10px;
            margin: 0 10px 10px 10px;
            .item_box {
                width: calcWidth(10,3.5);
                background-color: $basecolor;
                img { width: 100%; }
                p {
                    padding: 6px 0 10px 0;
                    text-align: left;
                }
            }
            @media (max-width: 767px) {
                flex-wrap: wrap;
                .sp_top {
                    width: 100%;
                    margin-bottom: 10px;
                }
                .sp_other {
                    display: inline-block;
                    box-sizing: border-box;
                    width: calc( 50% - 5px);
                }
            }
        } // /.item_container
    } // /#monthlybest

    #title_area {
        padding: 50px;
        margin: 10px 0;
        background-color: $red;
        border-radius: 5px;
        .item_container {
            justify-content: center;
            align-items: center;
            #sentence {
                margin-right: 30px;
                h2, p {
                    color: $basecolor;
                    text-align: left;
                }
                h2 {
                    letter-spacing: 4px;
                }
            }
        }
        @media (max-width: 767px) {
            padding: 30px;
            .item_container {
                display: block;
                #sentence {
                    margin-bottom: 10px;
                }
            }
        }
    } // /#title_area
    
    #profile {
        margin: 20px 0 20px 0;
        padding: 10px 0 10px 0;
        .item_container {
            margin: 10px 0;
            justify-content: center;
            text-align: center;
            img {
                margin-right: 30px;
            }
            table,tr {
                border: none;
            }
            td {
                width: 200px;
            }
        }
        @media (max-width: 767px) {
            padding: 30px;
            .item_container {
                display: block;
                img {
                    margin-right: 0;
                }
            }
        }
    } // /#profile
    
    #title_area_contact {
        padding: 50px;
        margin: 10px 0;
        background-color: $blue;
        border-radius: 5px;
        .item_container {
            justify-content: center;
            align-items: center;
            #sentence {
                width: 40%;
                margin-right: 30px;
                p {
                    color: $gray;
                }
            }
        }
        @media (max-width: 767px) {
            padding: 30px;
            .item_container {
                display: block;
                #sentence {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    } // /#title_area_contact
    
    #contact_box {
        margin: 20px 0 20px 0;
        padding: 10px 0 10px 0;
        ul {
            margin-bottom: 0;
            li {
                margin-bottom: 8px;
                list-style-type: none;
                @include fontsize(16);
                #btn_contact {
                    margin-left: 0;
                    li {
                        margin-right: 10px;
                        display: inline-block;
                        @media (max-width: 767px) {
                            margin-left: 10px;
                            display: block;
                        }
                        input {
                            margin-right: 10px;
                        }
                    }
                }
                .textarea {
                    width: 50%;
                }
                .messagebox {
                    width: 90%;
                    min-height: 150px;
                }
            } // /li
            @media (max-width: 767px) {
                width: 100%;
                .textarea {
                    width: 100%;
                }
                .messagebox {
                    width: 100%;
                }
            }
        } // /ul
    } // /#contact_box

    .blog {
        margin-bottom: 30px;
        h1,h2,h3 {
            text-align: left;
        }
        .blog_title {
            margin-bottom: 0px;
            margin-left: 5px;
            text-align: left;
            font-size: 1em;
            color: $gray;
        }
        .blog_wrap {
            border-top: 1px dotted $gray;
            border-bottom: 1px dotted $gray;
            .blog-header {
                padding: 10px;
                border-bottom: 1px dotted $gray;
                color: $gray;
                @include fontsize(12);
            }
            .blog-body {
                width: 100%;
                text-align: left;
                padding: 10px 5px;
                .text_index {
                    width: calc(100% - 150px);
                    display: inline-block;
                    vertical-align: top;
                }
                .eyecatch_photo {
                    margin: 0 10px;
                    width: 100px;
                    height: 100px;
                    display: inline-block;
                    vertical-align: top;
                    border: 1px solid $gray;
                }
            }
            .blog-footer {
                padding: 5px;
                @include fontsize(12);
            }
        } // /.blog_wrap
    } // /.blog
    
    .leftcol {
        margin: 10px 0 50px 0;
        float: left;
        color: $gray;
        @include fontsize(12);
        &:hover {
            color: $blue;
        }
    }

    .rightcol {
        margin: 10px 0 50px 0;
        float: right;
        color: $gray;
        @include fontsize(12);
        &:hover {
            color: $blue;
        }
    }
    
    .commentbox {
        margin: 100px 0;
        text-align: center;
        width: 100%;
        height: 150px;
        border:1px solid $gray;
    }

    #display_container {
        display: flex;
        padding-bottom: 10px;
        margin-bottom: 30px;
        flex-direction: column;
        .display_img {
            flex: 1;
            margin-bottom: 20px;
            img {
                width: 100%;
            }
        }
        .display_sentence {
            margin-bottom: 20px;
            p {
                @include fontsize(12);
            }
        }
        .list_img {
            flex: 1;
            margin-left: 0;
            margin-bottom: 0;
            padding-left: 0;
            margin-top: 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li {
                list-style-type: none;
                box-sizing: border-box;
                margin-bottom: 0;
                width: calcWidth(2,5);
                img {
                    width: 100%;
                }
            }
        } // /.list_img
    } // /#display_container

    #display_container_shop {
        display: flex;
        margin-bottom: 10px;
        .display_img {
            flex: 5 5 40px;
            img {
                width: 100%;
            }
        }
        .list_img {
            flex: 2 2 10px;
            margin: 0 0 0 10px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li { 
                list-style-type: none;
                box-sizing: border-box;
                margin-bottom: 0;
                width: calcWidth(10,2);
                img {
                    width: 100%;
                }
            }
        } // /list_img
    } // /#display_container
    
    #product_description {
        border-bottom: 1px solid $gray;
        margin-bottom: 20px;
        padding-bottom: 10px;
        h3 {
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid $gray;
        }
        p {
            width: 100%;
            color: black;
            @include fontsize(16);
        }
    } // /#product_description
    
    #shopping_box {
        margin: 10px 0 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px solid $gray;

        .color {
            margin-bottom: 10px;
            padding-bottom: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border-bottom: 1px solid $gray;
            .color_check {
                margin: 0;
                width: 80%;
                table-layout: fixed;
                border: 1px solid $gray;
                th, td {
                    text-align: center;
                    color: $gray;
                    border: 1px solid $gray;
                    @include fontsize(12);
                    @media (max-width: 767px) {
                        @include fontsize(16);
                    }
                }
                th {
                    background-color: lighten($red, 10%);
                    width: calcWidth(0,3);
                }
                // radio_check Layout
                input[type="radio"] {
                    display: inline-block;
                    -webkit-appearance: none;
                    width: 15px !important;
                    height: 15px;
                    border: 1px solid $gray;
                    background: transparent;
                    opacity: 0.5;
                    width: 100%;
                    margin-bottom: 0;
                    @media (max-width: 767px) {
                        width: 20px !important;
                        height: 20px;
                    }
                    &:checked {
                        display: inline-block;
                        background: $red;
                        opacity: 1;
                    }
                } // /input[type="radio"]
            } // /.color_check
        } // /.color

        .form_wrapper {
            margin-bottom: 0;
            width: calc(100% - 250px);
            tr {
                padding: 10px 0;
                margin: 4px 0;
                th {
                    p {
                        font-size: 1.8rem;
                    }
                }
                td {
                    margin-left: 20px;
                }
            }
            .price_data {
                .praice_num {
                    color: $red;
                    @include fontsize(20);
                    font-style: italic;
                }
            }
            .quantity_data {
                margin: 10px 0;
                .quantity_box {
                    border: 1px solid $gray;
                    margin-bottom: 0;
                    border-radius: 0;
                    width: 70%;
                }
            }
            @media (max-width: 767px) {
                width: 100%;
                tr {
                    td {
                        p {
                            @include fontsize(20);
                        }
                    }
                }
                .price_data {
                    .praice_num {
                        margin-right: 10px;
                        @include fontsize(30);
                    }
                }
                .quantity_data {
                    margin: 20px 0;
                }
            } // /@media (max-width: 767px)
        } // /.form_wrapper
        
        @media (max-width: 767px) {
            .cart_icon {
                display: block;
                width: 100%;
                margin: 20px 0 10px;
                text-align: center;
                vertical-align: middle;
            }
        }
    } // /#shopping_box
    
    #shopping_guide {
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
        .guide_container {
            display: block;
            text-align: left;
            @media (min-width: 768px) {
                display: flex;
                justify-content: space-between;
            }
            .guide_box {
                margin-bottom: 20px;
                padding: 10px 20px 20px;
                box-sizing: border-box;
                width: 100%;
                background-color: $basecolor;
                border: 1px solid $gray;
                @media (min-width: 768px) {
                    width: calcWidth(2,2);
                }
                .title {
                    @include fontsize(16);
                    font-weight: bold;
                    color: $gray;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    @media (min-width: 768px) {
                        @include fontsize(18);
                    }
                }
                .sub_title {
                    font-weight: bold;
                    color: $gray;
                    margin-top: 4px;
                    margin-bottom: 2px;
                }
            } // .guide_box
        } // /.guide_container
    }  // /#shopping_guide
} // /main

/* Sidebar contents */
aside {
    margin: 0 10px;
    border: 1px solid $gray;
    height: 300px;
    @media (max-width: 767px) {
        width: 100%;
        margin: 0;
    }
} // /aside

} // /#page_contents

#page_title {
    margin-bottom: 30px;
    p {
        @include fontsize(16);
    }
}

/* FOOTER
---------------------------------------------*/
footer {
    background-color: $blue;
    margin: 20px 0 0 0;
    padding: 10px 0;
    p {
        width: 100%;
        text-align: center;
        @include fontsize(10);
    }
}